<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dailycarl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.GoalActivity" />
        <activity android:name=".ui.SignupActivity" />
        <activity android:name=".ui.AddChoiceActivity" />
        <activity android:name=".ui.ViewCaloriesActivity" />
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.EatAndExActivity" />
        <activity android:name=".ui.HandleDrawerNav" />
        <activity android:name=".ui.ViewCaloryMonth" />
        <activity android:name=".ui.ViewCaloryWeek" />
        <activity android:name=".ui.EditGoalActivity" />
        <activity android:name=".ui.MapActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB1B4mqUf2H7GNmvaQVD5Dd_RKBde_-68M" />
        <activity android:name=".ui.MainActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>